* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
	font-size: 1.6rem;
  font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
}

/*********************/

.content {
	max-width: 1280px;
	margin: 0 auto;
}

.button:link,
.button:visited {
	text-decoration: none;
	padding: 7px 15px;
	font-size: 1.3rem;
}

.button--light {
	color:hsl(0, 0%, 98%);
	border: 1px solid hsl(0, 0%, 98%);
}

.button--light:hover {
	color: hsl(270, 9%, 17%);
	background-color: hsl(0, 0%, 98%);
}

.button--dark {
	color: hsl(270, 9%, 17%);
	border: 1px solid hsl(270, 9%, 17%);
}

.button--dark:hover {
	color: #fff;
	background-color: hsl(270, 9%, 17%);
}

header .content {
	display: flex;
	justify-content: space-between;	
	align-items: center;
	padding: 20px 10px;
}

header .content .logo {
	max-height: 18px;
}

.main-menu ul {
	list-style: none;
	display: flex;
	align-items: center;
}

.main-menu ul li {
	text-transform: uppercase;
}

.main-menu .link {
	color: hsl(273, 4%, 51%); /*Dark Grayish Violet*/
	text-decoration: none;
	padding: 7px 15px;
	font-size: 1.3rem;
}

.main-menu .link:hover {
	color: hsl(270, 9%, 17%); /*Very Dark Violet*/
}

.main-menu .button {
	margin-left: 15px;
}

header .content .icon-hamburger,
header .content .icon-close {
	display: none;
}

.hero {
	background-color: hsl(256, 26%, 20%);
	position: relative;
}

.hero::after {
	content: '';
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 170%;
	top: 0;
	left: 0;
	background: 
		url('images/bg-pattern-intro-left-desktop.svg') 0 300px no-repeat,
		url('images/bg-pattern-intro-right-desktop.svg') 100% 0 no-repeat;
}

.hero .content {
	position: relative;
	padding: 90px 10px;
}

.hero .content h1 {
	font-size: 7.0rem;
	color:hsl(0, 0%, 98%);
	line-height: 0.9;
}

.hero .content h1::before {
	content: '';
	display: block;	
	background-color: hsl(0, 0%, 98%);
	height: 1px;
	width: 140px;
	margin-bottom: 50px;
}

.hero .content p {
	color:hsl(0, 0%, 98%);
	max-width: 50%;
	margin: 30px 0;
}

.hero .content .button {
	display: block;
	width: fit-content;
	font-size: 1.6rem;
}

.hero .content img {
	position: absolute;
	top: 90px;
	right: 10px;
	max-height: 560px;
}

.benefits {
	margin-top: 210px;
}

.benefits .content {
	padding: 0 10px;
}

.benefits .content h2 {
	font-size: 6.2rem;
	color: hsl(270, 9%, 17%);
	line-height: 0.9;
}

.benefits .content h2::before {
	content: '';
	display: block;	
	background-color: hsl(273, 4%, 51%);
	height: 1px;
	width: 140px;
	margin-bottom: 50px;
}

.benefits .content ul {
	display: flex;
	list-style: none;
	margin-top: 70px;
}

.benefits .content ul li:not(:last-child) {
	margin-right: 50px;
}

.benefits .content ul li img {
	width: 70px;
}

.benefits .content ul li h3 {
	margin: 20px 0 15px 0;
}

.benefits .content ul li p {
	color: hsl(270, 9%, 17%);
}

.about-us {
	margin: 100px 0;
}

.about-us .content {	
	padding: 60px 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: hsl(256, 26%, 20%) url('images/bg-pattern-how-we-work-desktop.svg') 100% 0 no-repeat;
}

.about-us .content h2 { 
	font-size: 5.6rem;
	color: hsl(0, 0%, 98%);
	line-height: 0.9;
}

.about-us .content .button { 
	font-size: 1.8rem;
}

footer {
	background: 
		hsl(0, 0%, 98%) 
		url('images/bg-pattern-footer-desktop.svg') 0 0 no-repeat;
	padding: 50px 0 40px 0;
}

footer .content {
	padding: 0 10px;
}

footer .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid hsl(273, 4%, 51%);
	margin-bottom: 20px;
	padding-bottom: 20px;
}

footer .social-links a {
	display: inline-block;
	margin-left: 15px;
}

footer .social-links a svg {
	transform: scale(.85);
}

footer .social-links a:hover svg path {
	fill: hsl(256, 26%, 20%);
}

footer .menu-group {
	display: flex;
	flex-wrap: wrap;
}

footer .menu-item {
	width: 25%;
	text-transform: uppercase;
}

footer .menu-item h4 {
	font-family: 'Karla', sans-serif;
	color: hsl(273, 4%, 51%);
	font-size: 1.3rem;
	margin: 15px 0 25px 0;
}

footer .menu-item ul {
	font-size: 1.2rem;
	list-style: none;
}

footer .menu-item ul li{
	margin-bottom: 10px;
}

footer .menu-item ul a:link,
footer .menu-item ul a:visited {
	text-decoration: none;
	color: hsl(256, 26%, 20%);
}

footer .menu-item ul a:hover {
	text-decoration: underline;
}